.modal-content {
    border-radius: 8px;
    text-align: center;
  }
.modal-body{
    height: 100px;
    margin-right: 20px;
}
.form-control{
    padding: 10px;
    margin-right: 25px;
}
.form-select{
    padding: 10px;
}
.btn{
    margin-right: 20px;
    background-color: royalblue;
    border-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.cancel-btn{
    background-color: grey;
}
.modal-footer{
    text-align: center;
}
.modal-title{
    text-align: center;
    color: indianred;
    font-size: 25px;
}
